<div class="game-title"> PLAY ONLINE WITH A FRIEND </div>

<div class="online-game-home-img-wrapper">
  <img src="assets/images/playOnlineWithFriendImg.png" alt="item img" class="item-img">
</div>

<div class="instruction">

  <div class="option-selection-text">
    If you are the first player, then you can <b>create a new game</b> and share code with your friend.
  </div>

  <div class="option-selection-text">
    If you are the second player (invited), then click to <b>join the game.</b>
  </div>

</div>

<div class="button-wrapper">
  <button class="button" (click)="createNewGame()">Create a new game</button>
  <button class="button">Join a game</button>
</div>
