
.game-details {
  display: flex;
  justify-content: space-between;
  margin-top: 10px;
}

.game-title {
  font-family: 'Baloo Bhai';
  font-size: 20px;
  text-align: center;
  margin-top: 25px;
  margin-bottom: 25px;
}

.item-wrapper {
  background-color: #FFF;
  padding: 8px 10px;
  min-height: 100px;
  border: 1px solid #E6E6E6;
  border-radius: 4px;
  box-shadow: 0px 3px 10px #CBC9C940;
  width: 400px;

  .text-associate {

      .item-title {
          text-align: left;
          font-family: "Rubik-medium", sans-serif;
          font-size: 16px;
          color: #33475B;
          margin-bottom: 10px;
          text-decoration: underline;
      }

      .item-description{
          text-align: left;
          font-family: "Rubik-regular", sans-serif;
          font-size: 15px;
          color: #4a55eb;
          margin-top: 5px;

          b {
            color: #000;
          }
      }

  }
}

.option-selection-text {
  font-size: 16px;
  text-align: center;
  margin-top: 10px;
}

.online-game-board-wrapper{
  text-align: center;
  margin-top: 20px ;
}

.details {
  text-align: center;
}

.game-player-turn {
  color: rgb(34, 155, 54);
  font-family: 'Rubik-bold';
}

.game-opponent-turn {
  color: rgb(241, 35, 35);
  font-family: 'Rubik-bold';
}

.disableMouse {
  pointer-events : none;
  opacity: 0.5;
}

.modal-container {
    width: 100vw;
    height: 100vh;
    position: fixed;
    top: 0;
    left: 0;
    background-color: rgba(0,0,0,0.75);
    z-index: 50;
}

.modal-body-card {
    position: fixed;
    top: 30vh;
    left: 0;
    right: 0;
    margin-left: auto;
    margin-right: auto;
    width: 300px;
    height: 200px;
    background-color: #FFF;
    box-shadow: 0px 2px 8px rgba(0,0,0,0.26);
    z-index: 100;
    padding: 16px;
}


.button {
  border: 1px solid transparent;
  border-radius: 8px;
  box-sizing: border-box;
  position: relative;
  background-color: #4CAF50;
  color: #FFFFFF;
  font-size: 16px;
  padding: 8px;
  text-align: center;
  margin: 4px 2px;
  text-decoration: none;
  overflow: hidden;
  cursor: pointer;
}

.button:after {
  content: "";
  background: #f1f1f1;
  display: block;
  position: absolute;
  padding-top: 300%;
  padding-left: 350%;
  margin-left: -40px !important;
  margin-top: -120%;
  opacity: 0;
  transition: all 0.8s
}

.button:active:after {
  padding: 0;
  margin: 0;
  opacity: 1;
  transition: 0s
}

