<div class="game-title"> CHESS GAME </div>

<div class="option-selection-text"> Please select an option </div>

<div class="container">
  <div class="item-wrapper mt-2">
    <div class="image-associate text-center">
      <img src="assets/images/playOnlineWithFriendImg.png" alt="item img" class="item-img">
    </div>

    <div class="text-associate">
      <div class="item-title"> Play online against a friend </div>
      <div class="item-description">
        This option allow you to create a new chess game and share the code with one of
        your friends. Each one of you will have once chess board on your screen. It is an opportunity to play remotely
        from different browser
      </div>
      <div class="button-wrapper">
        <button class="button" (click)="openPlayOnlineHome()">Play against a friend</button>
      </div>
    </div>
  </div>

  <div class="item-wrapper mt-2">
    <div class="image-associate text-center">
      <img src="assets/images/mainPageFrameImg.png" alt="item img" class="item-img">
    </div>

    <div class="text-associate">
      <div class="item-title"> Train yourself with 2 chess board </div>
      <div class="item-description"> This option allow you to train yourself with two chess board where each one
        represent a player. It will give you the opportunity to play against yourself </div>
      <div class="button-wrapper">
        <button class="button" (click)="openMainPage()">Train with 2 chess board</button>
      </div>
    </div>
  </div>


</div>
