
header {
    padding: 10px;
}

.iframe-container {
  display: flex;
  justify-content: space-between;
  width: 1100px;
  height: 515px;
  margin:auto;
  margin-top: 30px;
  background-color: #DAD2E9;
}

.iframe-one, .iframe-two {
  width: 515px;
}


.iframe-two  {
    transform:  rotateY(180deg)  // Va faire une rotation de l'élément sur l'axe des absices
}


.disableMouse {
  pointer-events : none;
  opacity: 0.5;
}


.modal-container {
    width: 100vw;
    height: 100vh;
    position: fixed;
    top: 0;
    left: 0;
    background-color: rgba(0,0,0,0.75);
    z-index: 50;
}

.modal-body-card {
    position: fixed;
    top: 30vh;
    left: 0;
    right: 0;
    margin-left: auto;
    margin-right: auto;
    width: 300px;
    height: 200px;
    background-color: #FFF;
    box-shadow: 0px 2px 8px rgba(0,0,0,0.26);
    z-index: 100;
    padding: 16px;
}

.game-result {
  text-align: center;
}

.button-wrapper {
  margin-top: 20px;
}

.button {
      border: 1px solid transparent;
      border-radius: 8px;
      box-sizing: border-box;
      position: relative;
      background-color: #4CAF50;
      color: #FFFFFF;
      font-size: 16px;
      padding: 8px;
      text-align: center;
      margin: 4px 2px;
      text-decoration: none;
      overflow: hidden;
      cursor: pointer;
    }

    .button:after {
      content: "";
      background: #f1f1f1;
      display: block;
      position: absolute;
      padding-top: 300%;
      padding-left: 350%;
      margin-left: -40px !important;
      margin-top: -120%;
      opacity: 0;
      transition: all 0.8s
    }

    .button:active:after {
      padding: 0;
      margin: 0;
      opacity: 1;
      transition: 0s
    }
